body
{
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: white;
	text-transform: uppercase;
}

.titulo-index
{
	/*text-shadow: -2px 2px black, -2px 0 black, 2px 0 black, 0 -2px #f700f7;*/
	/*text-shadow: -5px 5px 0px #f700f7, -10px 10px 0px #f700f7, -15px 15px 0px #f700f7;*/
/*	color: #FFFFFF;
background: #005DFF;
text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd;*/

color: #FFFFFF;
background: #005DFF;
text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd;
color: #FFFFFF;
background: #005DFF;


}


