body, html
{
	font-family: 'Press Start 2P', cursive;
  height: 100%;
	color: white;
	text-transform: uppercase;
}

.home
{
	background: url('../img/home.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.stage1
{
	background: url('../img/stage1.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
    background-size: cover;
}

.stage2
{
  background: url('../img/stage2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.finalboss
{
  background: url('../img/finalboss.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.titulo-index
{
	text-shadow: -5px 5px 0px #980ab0, -10px 10px 0px #552660, -15px 15px 0px #140316;
	animation: 3s ease-out 0s 1 slideInFromLeft;
}

.titulo-stage1
{
	text-shadow: -5px 5px 0px #216377, -10px 10px 0px #19404c, -15px 15px 0px #112a31;
	animation: 3s ease-out 0s 1 slideInFromTop;
}

.titulo-stage2
{
  text-shadow: -5px 5px 0px #5127f6, -10px 10px 0px #2a08b2, -15px 15px 0px #120090;
  animation: 3s ease-out 0s 1 rotate;
}

.titulo-finalboss
{
  text-shadow: -5px 5px 0px #5127f6, -10px 10px 0px #2a08b2, -15px 15px 0px #120090;
  animation: 3s ease-out 0s 1 rotate;
}

.parpadea
{
  animation-name: parpadeo;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo
{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo
{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo
{  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.navegacion-home
{
	padding-bottom: 11rem;
}

.navegacion
{
	padding-bottom: 4.4rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotate {
  0% {
    transform:rotate(45deg);
  }
}


a
{
  color: white;
}

a:hover
{
  color: white;
  animation:parpadeo infinite .4s
}

ul {
  list-style-type: none;
}

ul li
{
  margin-bottom: 1rem;
}

.card-img-top
{
  width: 180px;
  height: 180px;
}


.social {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2000;
}
 
 
.social a {
  display: inline-block;
  color:#fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

.social a:hover
{
  background: #000;
  padding: 10px 30px;
}